/* File style.css */

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.table-row-cell {
	-fx-font-size: 10pt;
	-fx-font-family: Arial;
	-fx-text-align: center; 
}

.table-view .column-header .label {
	-fx-font-size: 10pt;
	-fx-text-fill: black; 
	-fx-text-align: center; 
}

.table-view .table-column {
  -fx-alignment: center;
}

.button:hover {
	 -fx-underline: true;
	 -fx-font-weight: bold;
}

.label {
	/*-fx-font-size: 10pt;*/
	-fx-font-family: Arial;
	-fx-text-align: left; 
}